.tiny-slider-container
  .my-slider
    = partial "/includes/home/forrester-carousel"
    = partial "/includes/home/eleven-oh-announcement"
    = partial "/includes/home/gitlab-live"
    = partial "/includes/home/fastest-growing"
  .arrow-container.prev-button{ "data-controls" => "prev" }
    %img.slider-arrow{ src: "/images/home/arrow-left-alt.svg", alt: "Carousel previous arrow" }
  .arrow-container.next-button{ "data-controls" => "next" }
    %img.slider-arrow{ src: "/images/home/arrow-right-alt.svg", alt: "Carousel next arrow" }

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js", type: "text/javascript"}

:javascript
  var slider = tns({
    container: '.my-slider',
    arrowKeys: true,
    items: 1,
    speed: 800,
    autoplayButtonOutput: false,
    viewportMax: true,
    touch: true,
    prevButton: '.prev-button',
    nextButton: '.next-button',
    animateDelay: 6000,
    autoplay: true
  });

  slider.play();
