.fourth-fastest-wrapper
  %section.home-splash.fourth-fastest.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      %a.hero-title{ href: "https://www.g2crowd.com/products/gitlab/reviews" }
        %h1
          4th fastest-growing private software company
      %p.hero-description
        This is the first year GitLab has appeared on Inc.'s 5000 list and we're happy to have such a strong showing.
      %a.btn.cta-btn.accent{ href: "https://about.gitlab.com/2018/08/16/gitlab-ranked-44-on-inc-5000-list/", target: "_blank" }
        Read the blog article
      %a{ href: "/pricing/", target: "_blank" }
        %p Already convinced? Try GitLab for Free →
    .hero-image-container
      %a.hero-image-link{ href: "https://about.gitlab.com/2018/08/16/gitlab-ranked-44-on-inc-5000-list/", target: "_blank" }
        %img.hero-image{ src: "/images/home/inc-5000-2018-no4-software-white.png" }
