%ol.list
  - data.capabilities.select{|i| i.dev_ops == dev_ops}.each do |a|
    %li{id: a.name}
      %b.pm= "#{a.name} - PM: #{a.pm} PMM: #{a.pmm} - EM: #{a.engineering_manager} - FEM: #{a.frontend_engineering_manager}"
      %ul
        - if a.categories
          - a.categories&.each do |c|
            %li.category= c.name
            %ul
              - c.features&.each do |f|
                %li.feature= f
        - if a.internal_customers
          %li.category= "Internal Customer".pluralize(a.internal_customers.count)+ ": " + a.internal_customers.join(", ")
