---
layout: comparison_page
trial_bar: true
title: GitLab compared to other tools
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - bootstrap-tooltip.js
---

- product_one = data.features.competitors[key_one]
- product_two = data.features.competitors[key_two]

.row
  .col-md-12
    %a{href: '/comparison/'}
      ← Back to comparison page

%h1.titles-comparison-companies.text-center
  = product_one.name + " vs GitLab"

.row
  - if product_one.summary.present?
    .col-md-10.col-md-offset-1.margin-bottom30
      = kramdown(product_one.summary)
  - if product_one.include_file.present?
    .col-md-10
      = partial product_one.include_file

%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        FEATURES
      %th.text-center.table-title-logo
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
      %th.text-center.table-title-logo
        %img{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab", class: "logo" }
  %tbody.header.first
    - data.features.features.each do |feature|
      - shared_feature = (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
      - if shared_feature
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if feature.gitlab_ultimate
                = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
            %p
              = kramdown(feature.description)
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - feature_support = feature.public_send(key_one)
            - if (feature_support == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature_support == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature_support == false)
              = partial "includes/icons/comparison/no-icon.svg"
          %td.check-container.text-center
            - feature_support = feature.public_send(key_two)
            - if (feature_support == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature_support == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature_support == false)
              = partial "includes/icons/comparison/no-icon.svg"

.last-updated-section.text-center
  %p.clearfix
    // check if file exists to display download button
    - if sitemap.find_resource_by_path("/comparison/pdfs/#{key_one.dup.tr('_', '-')}-vs-gitlab.pdf")
      = link_to "Download as PDF", "/comparison/pdfs/#{key_one.dup.tr('_', '-')}-vs-gitlab.pdf", class: "featured-item-button", download: "Comparison PDF", target: "_blank"
  %p{:style => "margin: 50px 0 10px"}
    If you feel there are inaccurate statements in this comparison, please
    %a{ href: "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source/templates/comparison.html.haml", target: "_blank" } edit this page
    or propose edits by
    %a{ href: "https://gitlab.com/gitlab-com/www-gitlab-com/issues/new", target: "_blank" } creating an issue.
    When creating an issue, please use the "Comparison page" template and assign to @dangordon to ensure we see your suggested changes. You can also send an email to
    %a{ href: "mailto:dgordon@gitlab.com?subject=Suggested%20edit%20https://about.gitlab.com#{current_page.url}" }
      dgordon@gitlab.com
    with your suggested edits if you're unable to create an issue or edit this page.
  %p
    We strive for technical accuracy and will review and update this post for inaccuracies as quickly as possible.
